<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8"/>
<link href="css/all.css" rel="stylesheet"  media="all" type="text/css" />
<title>Mi Xiaozi Mall</title>
</head>
<body>
  <div class="head">
    <div class="logo"><img src="images/logo.jpg" /></div>
    <div class="menu"><span><a href="login.html">login</a> | <a href="register.html">register</a></span>
      <input type="text" id="searchBox" placeholder="search..." oninput="showSuggestions(this.value)" autocomplete="off">
      <div id="suggestions" class="suggestions"></div>
      <script src="js/background.js"></script>
      <button id="background-toggle">Switch background constrast</button>
      <ul class="center">
        <li><a href="index0.html">Home</a></li>
        <li><a href="3c_digital.html">3c_digital</a></li>
        <li><a href="clothing.html">Clothing</a></li>
        <li><a href="supermarket.html">Supermarket</a></li>
        <li><a href="gouwuche.html">Cart</a></li>
        <li><a href="消息.html">Messages</a></li>
      </ul>
    </div>
  </div>
<div class="clear"></div>
<div class="center" >
  <div class="ad">
   <div class="vip"> <div class="bar">
    <h2>会员中心</h2>
  </div>
     <table width="545" border="0" >
       <tr>
         <td width="249" rowspan="3"><img src="images/tx.jpg" width="200"></td>
         <td width="103">会员名：</td>
         <td width="179">爱蛋糕</td>
       </tr>
       <tr>
         <td>账户余额：</td>
         <td>￥2000</td>
       </tr>
       <tr>
         <td>积分：</td>
         <td>4555分</td>
       </tr>
     </table>
   </div>
  <img src="images/vip.jpg"> </div>
</div>
<div class="end">
  <p>Mi Xiaozi Mall</p>
</div>
</body>
</html>
